﻿@charset "utf-8";


body {
	-webkit-text-size-adjust: 100%;
}
img {
	width:100%;
}

/*  pagetop  */

#pagetopBtn {
	width:50px;
	height:53px;
	bottom:10px;
	right:10px;
}


/* --------------------
	header
--------------------*/
header {
	border-top:3px solid #00A1E9;
	height:50px;
	min-width:320px;
	box-shadow:0px 2px 2px 0px rgba(0,0,0,0.4);
	-moz-box-shadow:0px 2px 2px 0px rgba(0,0,0,0.4);
	-webkit-box-shadow:0px 2px 2px 0px rgba(0,0,0,0.4);
}
header .inner {
	width:100%;
	height:50px;
}
header h1 {
	width:76px;
	height:23px;
	top:13px;
	left:10px;
}
header p.icn01 {
	width:17px;
	height:23px;
	top:13px;
	left:96px;
}
header p.icn02 {
	width:22px;
	height:23px;
	top:13px;
	left:123px;
}
header p.entryBtn {
	display:none;
}

/*  nav  */

header nav {
	width:100%;
	height: auto;
	top:0;
}
header nav p#navBtn {
	display: block;
	width:40px;
	height:40px;
	position:absolute;
	top:5px;
	right:5px;
	background:url(../img/btn_nav.gif) no-repeat 0 0;
	background-size:40px 40px;
	text-indent:-9999px;
}
header nav ul {
	height: auto;
	border-left: none;
	width:100%;
	position:absolute;
	top:50px;
	left:0;
	display:none;
	z-index:2000;
}
header nav li {
	width:100%;
	height: auto;
	float: none;
	padding:0;
	border-right: none;
	background-color: rgba(0,160,220,0.90);
	border-top:1px dotted #8CD4EF;
	display: block;
}
header nav li:first-child {
	border-top: none;
}
header nav li.short {
	width:100%;
}
header nav li.etc {
	display: block;
	background-color: rgba(255,153,0,0.90);
}
header nav li a {
	text-align:left;
	height: auto;
	line-height:1.2;
	vertical-align:middle;
	font-size:100%;
	font-weight:bold;
	padding:10px;
	color:#FFF;
	text-decoration:none;
}
header nav li a:link {
	color:#FFF;
	text-decoration:none;
}
header nav li a:hover {
	background: none;
}


/* --------------------
	content
--------------------*/
#content {
	margin: 53px auto 0;
}
#content h2 {
	width:100%;
	height:49px;
	text-indent:-9999px;
}
#content h2 img {
	display:none;
}
#content h3 {
	font-size:100%;
	margin:0 10px;
	background: url(../img/bg_tit.gif) no-repeat left bottom;
	background-size:auto 2px;
}

/*  sec01  */

#sec01 {
	min-width:320px;
	background: url(../img/bg_main_sp.gif) no-repeat center top #00a0dc;
	background-size:100% auto;
	padding:10px 0 20px;
}
#sec01 .mainImg {
	width:100%;
	min-width:320px;
	background: url(../img/img_main_sp.png) no-repeat center top;
	background-size:100% auto;
}
#sec01 .inner {
	width: auto;
	padding:30px 10px 0;
}
#sec01 ul {
	padding:0 0 20px;
}
#sec01 li {
	width:100%;
	padding:20px 0 0;
	float: none;
}
#sec01 li p.tit {
	width:100%;
}
#sec01 li p.tit img {
	width: auto;
	height:36px;
}
#sec01 li dl {
	width:300px;
	padding:10px 0 0;
	margin:0 auto;
}
#sec01 li dt {
	width:141px;
	height:141px;
}
#sec01 li dd {
	width:115px;
	height:135px;
	padding:0 14px 6px 30px;
	font-size:100%;
	line-height:1.3;
	vertical-align:middle;
	background: url(../img/bg01.gif) no-repeat 0 0;
	background-size:159px 141px;
}
#sec01 li p.txt {
	width:100%;
	padding:18px 0 0;
	line-height:1.4;
}
#sec01 .btnBox {
	width:300px;
	height:133px;
}
#sec01 .btnBox p.img {
	width:80px;
	height:95px;
	left:-10px;
}
#sec01 .btnBox p.txt {
	width:230px;
	height:64px;
	top:10px;
}
#sec01 .btnBox p.btn {
	width:300px;
	height:38px;
	right:0;
}

/*  sec02  */

#sec02 {
	min-width:320px;
}
#sec02 .inner {
	width:100%;
	padding:12px 0 0;
}
#sec02 h2 {
	background: url(../img/tit01_sp.gif) no-repeat center top;
	background-size:320px 49px;
}
#sec02 h3 {
	padding:11px 0 5px;
}
#sec02 .commentBox {
	width: auto;
	min-height:180px;
	text-align:left;
	background: url(../img/bg07.jpg) no-repeat center top;
	background-size:255px auto;
	padding:130px 10px 15px;
}
#sec02 .commentBox .txtBox {
	width: auto;
	min-height:50px;
	box-shadow:2px 2px 0px 0px #00a0dc;
	-moz-box-shadow:2px 2px 0px 0px #00a0dc;
	-webkit-box-shadow:2px 2px 0px 0px #00a0dc;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
#sec02 .commentBox .txtBox p.txt {
	width: auto;
	padding:15px;
	font-size:100%;
	line-height:1.4;
}
#sec02 .commentBox .txtBox p.arrow {
	width:15px;
	height:30px;
	position:absolute;
	top:-20px;
	left:50%;
	font-size:0;
	margin:0 auto 0 -7px;
	-moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
	transform:rotate(90deg);
}

/*  sec02_2  */

#sec02_2 {
	width:100%;
	min-width:320px;
}
#sec02_2 .inner {
	width:100%;
	margin:0 auto;
}
#sec02_2 h3 {
	padding:20px 0 5px;
}
#sec02_2 ul {
	padding:10px 10px 17px;
}
#sec02_2 li {
	width:100%;
	margin:10px auto 0;
	float: none;
}
#sec02_2 li h4 {
	width:100%;
	height:32px;
	font-size:113%;
	line-height:32px;
}
#sec02_2 li dl {
	width:270px;
	padding:10px 15px 0;
	margin:0 auto;
}
#sec02_2 li dt {
	width:130px;
	height:96px;
	padding:2px 25px 5px 12px;
	font-size:100%;
	line-height:1.4;
	font-weight:bold;
	vertical-align:middle;
	background: url(../img/bg02.gif) no-repeat 0 2px;
	background-size:163px auto;
}
#sec02_2 li:first-child dt {
	width:130px;
	padding:2px 25px 5px 12px;
}
#sec02_2 li dd {
	width:103px;
	height:103px;
	font-size:0;
}
#sec02_2 li p.txt {
	width: auto;
	text-align: left;
	padding:7px 15px 15px;
	font-size:88%;
	line-height:1.4;
}

/*  sec02_3  */

#sec02_3 {
	width:100%;
	min-width:320px;
	background:#C7E4F5;
}
#sec02_3 .inner {
	width:100%;
	margin:0 auto;
	padding:0 0 15px;
}
#sec02_3 h3 {
	padding:13px 0 5px;
}
#sec02_3 .tab {
	padding:7px 10px 0;
}
#sec02_3 .tab li {
	width:50%;
	box-sizing:border-box;
	padding:10px;
	height: auto;
	line-height:1.2;
	vertical-align: middle;
	text-align:center;
	float:left;
	font-size:88%;
	background:#005EAD;
	color:#FFF;
	font-weight:bold;
	border-radius:5px 5px 0px 0px;
	-moz-border-radius:5px 5px 0px 0px;
	-webkit-border-radius:5px 5px 0px 0px;
	cursor: pointer;
}
#sec02_3 .tab li span.icn {
	width:16px;
	height:12px;
	background: url(../img/icn_tab02.gif) no-repeat right 0;
	background-size:12px auto;
	display:inline-block;
	text-indent:-9999px;
	line-height:1.2;
}
#sec02_3 .tab li.select {
	background:#FFF;
	color:#005EAD;
	cursor:default;
}
#sec02_3 .tab li.select span.icn {
	background: url(../img/icn_tab01.gif) no-repeat right 0;
	background-size:12px auto;
}
#sec02_3 .contentBox {
	width: auto;
	padding:0 10px;
	margin:0 10px;
	border-radius:0px 0px 5px 5px ;
	-moz-border-radius:0px 0px 5px 5px ;
	-webkit-border-radius:0px 0px 5px 5px ;
	background:#FFF;
}
#sec02_3 .contentBox li {
	border-top:1px dashed #005EAD;
	padding:10px 0 10px 42px;
	position:relative;
}
#sec02_3 .contentBox li:first-child {
	border-top: none;
}
#sec02_3 .contentBox li p.num {
	width:25px;
	height:25px;
	line-height:25px;
	vertical-align: middle;
	text-align:center;
	font-weight:bold;
	color:#FF0;
	font-size:100%;
	position:absolute;
	top:10px;
	left:7px;
	float: none;
	box-shadow:1px 1px 0px 0px #00a0dc;
	-moz-box-shadow:1px 1px 0px 0px #00a0dc;
	-webkit-box-shadow:1px 1px 0px 0px #00a0dc;
	border-radius:25px;
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
	background:#005EAD;
}
#sec02_3 .contentBox li .txtBox {
	width: auto;
	float: none;
	text-align:left;
}
#sec02_3 .contentBox li .txtBox h4 {
	font-size:113%;
	line-height:1.2;
	font-weight:bold;
	color:#005EAD;
	padding:3px 0 0;
}
#sec02_3 .contentBox li .txtBox p.txt {
	font-size:88%;
	line-height:1.4;
	padding:5px 0 0;
}
#sec02_3 .contentBox li .txtBox li {
	border-top: none;
	padding:5px 1em 0 0;
	font-size:88%;
	line-height:1.4;
	font-weight:bold;
	float:left;
}
#sec02_3 .contentBox li .txtBox li:first-letter {
	color:#005EAD;
}

/*  sec02_4  */

#sec02_4 {
	width:100%;
	min-width:320px;
}
#sec02_4 .inner {
	width:100%;
	margin:0 auto;
	padding:0 0 20px;
}
#sec02_4 h3 {
	padding:20px 0 5px;
}
#sec02_4 p.txt {
	font-size:100%;
	line-height:1.4;
	padding:10px 10px 15px;
	text-align:left;
}
#sec02_4 ul {
	margin:0 auto;
	padding:0 10px;
}
#sec02_4 li {
	width:50%;
	box-sizing:border-box;
	float:left;
	padding:0 5px;
}
#sec02_4 li h4 {
	font-size:88%;
	line-height:1.2;
	font-weight:bold;
	color:#005EAD;
	padding:0 0 8px;
	text-align:center;
}
#sec02_4 li p.img {
	font-size:0;
}
#sec02_4 li p.cap {
	font-size:88%;
	line-height:1.3;
	padding:5px 0 0;
	text-align: left;
}

/*  sec02_5  */

#sec02_5 {
	width:100%;
	min-width:320px;
	background:#00A0DC;
}
#sec02_5 .inner {
	width: auto;
	margin:0 auto;
	padding:0 10px 20px;
}
#sec02_5 p.txt01 {
	font-size:0;
}
#sec02_5 p.txt02 {
	font-size:0;
	padding:13px 0 0;
}
#sec02_5 p.txt03 {
	font-size:0;
	padding:15px 0 0;
}
#sec02_5 p.btn {
	font-size:0;
	padding:19px 0 0;
}

/*  sec03  */

#sec03 {
	width:100%;
	min-width:320px;
}
#sec03 .inner {
	width:100%;
	margin:0 auto;
	padding:0 0 19px;
}
#sec03 h2 {
	background: url(../img/tit02_sp.gif) no-repeat center 20px;
	background-size:320px 49px;
	padding:20px 0 0;
}
#sec03 h3 {
	padding:13px 0 5px;
	margin:0 10px 10px;
}
#sec03 #animeBox {
	width:300px;
	height:180px;
	background: url(../img/img11.gif) no-repeat 0 0;
	background-size:300px 180px;
	position:relative;
	margin:0 auto;
}
#sec03 #animeBox p.human {
	width:31px;
	height:44px;
	font-size:0;
	position: absolute;
	top:-7px;
	left:240px;
/*	animation:jump 6s ease 0s 1;
	-webkit-animation:jump 6s ease 0s 1;*/
	transition: .8s;
}
@keyframes jump{
	0%		{transform: translate(-217px,105px);}
	18%		{transform: translate(-166px,58px)	rotate(-10deg);	transition-timing-function: ease-out;}
	34%		{transform: translate(-141px,75px)	rotate(5deg);	transition-timing-function: ease-in;}
	51%		{transform: translate(-91px,18px)	rotate(-15deg);	transition-timing-function: ease-out;}
	67%		{transform: translate(-66px,36px)	rotate(5deg);	transition-timing-function: ease-in;}
	84%		{transform: translate(-26px,-18px)	rotate(-20deg);	transition-timing-function: ease-out;}
	100%	{transform: translate(0,0)			rotate(0deg);	transition-timing-function: ease-in;}
}
/*@-webkit-keyframes jump{
	0%		{-webkit-transform: translate(-724px,352px);}
	17%		{-webkit-transform: translate(-573px,213px);}
	34%		{-webkit-transform: translate(-469px,251px);}
	51%		{-webkit-transform: translate(-323px,82px);}
	68%		{-webkit-transform: translate(-218px,121px);}
	85%		{-webkit-transform: translate(-105px,-39px);}
	100%	{-webkit-transform: translate(0,0);}
}*/

/*  sec04  */

#sec04 {
	width:100%;
	min-width:320px;
	background:#C7E4F5;
}
#sec04 .inner {
	width:100%;
	margin:0 auto;
	padding:0 0 10px;
	text-align:left;
}
#sec04 h2 {
	background: url(../img/tit03_sp.gif) no-repeat center 14px;
	background-size:320px 49px;
	padding:14px 0 0;
}
#sec04 h3 {
	padding:13px 0 5px;
	margin:0 10px 10px;
}
#sec04 .box {
	width: auto;
	min-height:78px;
	margin:0 10px 15px;
	background: url(../img/bg03_sp03.gif) repeat-y right 0 #FFF;
	background-size: 13px 13px;
	border-right: none;
}
#sec04 .box:before,
#sec04 .box:after {
	width:100%;
	height:13px;
	font-size:0;
	content: "";
	display: block;
}
#sec04 .box:before {
	background-image: url(../img/bg03_sp01.gif), url(../img/bg03_sp02.gif);
	background-repeat: no-repeat, no-repeat;
	background-position: left top, right top;
	background-size: 13px 13px, 13px 13px;
	background-color:#FFF;
}
#sec04 .box:after {
	background-image: url(../img/bg04_sp01.gif), url(../img/bg04_sp02.gif), url(../img/bg04_sp03.gif);
	background-repeat: no-repeat, no-repeat, repeat-x;
	background-position: left top, right top, center top;
	background-size: 13px 13px, 13px 13px, 13px 13px;
}
#sec04 .box p.img01 {
	width: auto;
	float: none;
	font-size:0;
	padding:0 17px 0 15px;
}
#sec04 .box p.img02 {
	width: auto;
	float: none;
	font-size:0;
	padding:0 17px 0 15px;
}
#sec04 .box .txtBox01 {
	width: auto;
	float: none;
	padding:12px 17px 0 15px;
}
#sec04 .box .txtBox02 {
	width: auto;
	float: none;
	padding:12px 17px 0 15px;
}
#sec04 .box h4 {
	border-bottom:1px solid #005EAD;
	font-weight:bold;
	color:#005EAD;
	font-size:88%;
	line-height:1.2;
	padding:0 0 4px;
}
#sec04 .box h4 strong {
	font-weight:bold;
	font-size:115%;
	line-height:1.2;
	padding:0 0 0 1em;
}
#sec04 .box h4 span.last {
	font-weight: normal;
	line-height:1.2;
	padding:0 0 0 1em;
}
#sec04 .box p.txt {
	font-size:100%;
	line-height:1.4;
	padding:8px 0 0;
}

/*  sec04_2  */

#sec04_2 {
	width:100%;
	min-width:320px;
	background:#00A0E9;
}
#sec04_2 .inner {
	width: auto;
	margin:0 auto;
	padding:0 10px 23px;
}
#sec04_2 p.txt {
	font-size:0;
	padding:0 22px;
}
#sec04_2 p.btn {
	font-size:0;
	padding:20px 0 0;
}

/*  sec05  */

#sec05 {
	width:100%;
	min-width:320px;
}
#sec05 .inner {
	width:100%;
	margin:0 auto;
	padding:0 0 6px;
	text-align:left;
}
#sec05 h2 {
	background: url(../img/tit04_sp.gif) no-repeat center 12px;
	background-size:320px 49px;
	padding:12px 0 0;
}
#sec05 h3 {
	padding:10px 0 5px;
	margin:0 10px 10px;
}
#sec05 ul {
	width: auto;
	padding:0 10px;
}
#sec05 li {
	width:100%;
	box-sizing:border-box;
	float: none;
	padding:0 0 10px;
}
#sec05 li.right {
	padding:0 0 10px;
}
#sec05 li p.img {
	font-size:0;
}
#sec05 li p.cap {
	background:#C7E4F5;
	font-size:88%;
	height: auto;
	width: auto;
	padding:5px;
	text-align:center;
	line-height:1.2;
	vertical-align:middle;
}
#sec05 li p.cap2 {
	background:#C7E4F5;
	font-size:88%;
	height: auto;
	width: auto;
	padding:5px;
	vertical-align:middle;
	text-align: left;
	line-height:1.2;
	display: block;
}

/*  sec05_2  */

#sec05_2 {
	width:100%;
	min-width:320px;
	background:#C7E4F5;
}
#sec05_2 .inner {
	width:100%;
	margin:0 auto;
	padding:0 0 20px;
	text-align:left;
}
#sec05_2 h3 {
	padding:15px 0 5px;
	margin:0 10px 10px;
}
#sec05_2 .box {
	width: auto;
	margin:0 10px;
	background: url(../img/bg03_sp03.gif) repeat-y right 0 #FFF;
	background-size: 13px 13px;
	border-right: none;
	transition: .8s;
}
#sec05_2 .box:before,
#sec05_2 .box:after {
	font-size:0;
	content: "";
	display: block;
}
#sec05_2 .box:before {
	background-image: url(../img/img30_sp01.gif), url(../img/img30_sp02.gif), url(../img/img30_sp03.jpg), url(../img/img30_sp04.gif);
	background-repeat: no-repeat, no-repeat, no-repeat, repeat-x;
	background-position: left bottom, right bottom, center bottom, center bottom;
	background-size: 13px 17px, 13px 17px, 280px 170px, 13px 17px;
	background-color:#C7E4F5;
	width: auto;
	height:170px;
}
#sec05_2 .box:after {
	background-image: url(../img/bg04_sp01.gif), url(../img/bg04_sp02.gif), url(../img/bg04_sp03.gif);
	background-repeat: no-repeat, no-repeat, repeat-x;
	background-position: left top, right top, center top;
	background-size: 13px 13px, 13px 13px, 13px 13px;
	width: auto;
	height:13px;
}
#sec05_2 .box p.txt {
	font-size:100%;
	line-height:1.6;
	padding:8px 15px 5px;
}
#sec05_2 .box ul {
	padding:0 15px;
}
#sec05_2 .box li {
	font-size:100%;
	line-height:1.4;
	font-weight:bold;
	padding:3px 0.5em 0 1.5em;
	text-indent:-1em;
}

/*  sec06  */

#sec06 {
	width:100%;
	min-width:320px;
	background:#00A0DC;
}
#sec06 .inner {
	width:100%;
	margin:0 auto;
	padding:0 0 14px;
}
#sec06 h2 {
	background: url(../img/tit05_sp.gif) no-repeat center 12px;
	background-size:320px 49px;
	padding:12px 0 0;
}
#sec06 p.lead {
	font-size:88%;
	line-height:1.2;
	color:#FFF;
	padding:18px 10px 10px;
}
#sec06 span.req {
	font-size:63%;
	line-height:10px;
	height:10px;
	vertical-align: middle;
	color:#FFF;
	padding:2px;
	margin:0 5px;
	background:#F39800;
	font-weight:bold;
}
#sec06 .box {
	width: auto;
	margin:0 10px;
	background: url(../img/bg05_sp03.gif) repeat-y right 0 #FFF;
	background-size: 13px 13px;
	border-right: none;
	text-align:left;
}
#sec06 .box:before,
#sec06 .box:after {
	width: auto;
	height:13px;
	font-size:0;
	content: "";
	display: block;
}
#sec06 .box:before {
	background-image: url(../img/bg05_sp01.gif), url(../img/bg05_sp02.gif);
	background-repeat: no-repeat, no-repeat;
	background-position: left top, right top;
	background-size: 13px 13px, 13px 13px;
	background-color:#FFF;
}
#sec06 .box:after {
	background-image: url(../img/bg06_sp01.gif), url(../img/bg06_sp02.gif), url(../img/bg06_sp03.gif);
	background-repeat: no-repeat, no-repeat, repeat-x;
	background-position: left top, right top, center top;
	background-size: 13px 13px, 13px 13px, 13px 13px;
}
#sec06 .box ul {
	padding:0 15px;
}
#sec06 .box li {
	padding:10px 0;
	border-bottom:1px solid #BFBFBF;
}
#sec06 .box li dl {
	display: block;
	width: auto;
}
#sec06 .box li dt,
#sec06 .box li dd {
	display: block;
	font-size:88%;
	line-height:1.2;
	font-weight:bold;
}
#sec06 .box li dt {
	width: auto;
	vertical-align: auto;
}
#sec06 .box li dt.pr {
	vertical-align: auto;
}
#sec06 .box li dd {
	width: auto;
	padding:5px 0 0;
}
#sec06 .box li dd input#man,
#sec06 .box li dd input#woman {
	vertical-align:middle;
}
#sec06 .box li dd label {
	font-weight:bold;
}
#sec06 .box li dd p.zip {
	padding:0 0 8px;
	font-weight:bold;
}
#sec06 .box li dd p.zip .min {
	width:5em;
	margin:0 5px;
}   
#sec06 .box li dd textarea {
	height:150px;
}
#sec06 .box .privacyBox {
	padding:10px 15px 5px 15px;
}
#sec06 .box .privacyBox p.tit {
	padding:0 0 5px;
	font-size:88%;
	line-height:1.2;
	font-weight:bold;
	text-align:left;
}
#sec06 .box .privacyBox textarea {
	height:180px;
	padding:10px !important;
	font-size:75%;
	line-height:1.3;
	text-align: left;
	color:#666;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}
#sec06 .box .privacyBox .check {
	padding:10px 0 0;
	font-size:88%;
	line-height:1.2;
	text-align: center;
	color:#000;
}
#sec06 .box .privacyBox .check input {
	vertical-align: middle;
}
#sec06 div.btnCheck {
	padding:15px 0 0;
	margin:0 auto;
}
#sec06 div.btnCheck button {
	width:247px;
	height:37px;
	display:block;
	background: url(../img/btn03.gif) no-repeat 0 0;
	background-size: 247px 37px;
	margin:0 auto;
	text-indent: 150%;
    white-space: nowrap;
    overflow: hidden;
	cursor:pointer;
	border:0;
}

/* form */

fieldset {   
border:1px solid #BFBFBF;   
margin-bottom:1em;   
padding:0 1em 1em 1em;   
}   
  
legend {   
background:#fff;   
padding:0.3em;   
}   
  
input, textarea {
	box-sizing:border-box;
	width:100%;
	font-size:100%;
	line-height:1.1;
	vertical-align:middle;
	padding:5px !important;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border:0;
	border:1px solid #BFBFBF;   
}
.mid {
	width:50%;
}  
.min {
	width:20%;
}   
  
input[type="checkbox"],   
input[type="radio"] {   
	width: auto;
	vertical-align: middle;
	margin-left:3px;
}

input[type="submit"] {   
	padding:0.1em;   
}   

input[type="text"] {   
	padding:5px;
}   
  
label {
	cursor:pointer;
	padding:0 0 0 0.3em;
}

select {   
	padding:5px;   
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border:0;
	border:1px solid #BFBFBF;
	font-size:88%;
}   
  
    /* for IE6 */  
    * html input {   
    padding:0.1em;   
    }   
  
    * html input.checkbox,   
    * html input.radio {   
    vertical-align:-0.3em;   
    }   
  
    * html input.submit {   
    line-height:1.2;   
    padding-top:0.2em;   
    }   
  
    * html select {   
    vertical-align:-0.2em;   
    }   
  
    /* for IE7 */  
    *+html input {   
    padding:0.1em;   
    }   
  
    *+html input.submit {   
    line-height:1.2;   
    padding-top:0.2em;   
    }   
  
    *+html select {   
    vertical-align:-0.2em;   
    }   
  
    /* for Opera9.27 */  
    html:first-child input {   
    padding:0.1em;   
    }   
  
    html:first-child input[type="checkbox"],   
    html:first-child input[type="radio"] {   
    vertical-align:middle;   
    }   
  
    html:first-child input[type="submit"] {   
    padding:0.3em;   
    }   
  
    html:first-child select {   
    padding:0.2em;   
    }   
  
    /* for Opera9.5 [Safari3] */  
    body:first-of-type input {   
    padding:0.1em;   
    }   
  
    body:first-of-type input[type="checkbox"],   
    body:first-of-type input[type="radio"] {   
    vertical-align:-0.3em;   
    }   
  
    body:first-of-type input[type="submit"] {   
    padding:0.3em 0.3em 0.2em 0.3em;   
    }   
  
    /* for Safari3 */  
    html:not(:only-child:only-child) input {   
    padding:0;   
    vertical-align:baseline;   
    }   
  
    html:not(:only-child:only-child) input[type="checkbox"],   
    html:not(:only-child:only-child) input[type="radio"] {   
    vertical-align:baseline;   
    }   
  
    html:not(:only-child:only-child) select {   
    vertical-align:0.1em;   
    }   



/* confirm */

.confirm #sec06 .box .txt {
	margin:50px auto 0;
	text-align:center;
	font-size:113%;
	line-height:1.6;
	font-weight:bold;
}
.confirm #sec06 .box .errTxt {
	margin:18px auto 0;
	text-align:center;
}
.confirm #sec06 .box .error_messe {
	text-align:center;
	font-size:100%;
	line-height:1.4;
	color:#F00;
	font-weight:bold;
	padding:8px 0 0;
}
.confirm #sec06 .box .link {
	margin:30px auto 50px;
	text-align:center;
	font-size:100%;
	line-height:1.2;
}
.confirm #sec06 .box .formTable {
	margin:15px;
	display:block;
	box-sizing:border-box;
	width: auto;
	border-top:1px solid #CCC;
}
.confirm #sec06 .box .formTable tbody {
	display:block;
}
.confirm #sec06 .box .formTable tr {
	display:block;
}
.confirm #sec06 .box .formTable th,
.confirm #sec06 .box .formTable td {
	text-align: left;
	vertical-align:middle;
	padding:12px;
	font-size:100%;
	line-height:1.4;
	border-bottom:1px dotted #CCC;
	display:block;
	box-sizing:border-box;
}
.confirm #sec06 .box .formTable th {
	padding:5px 12px;
	font-size:75%;
	line-height:1.2;
	font-weight: normal;
	background:#E5EFFA;
	width: auto;
	border-bottom: none;
	margin:5px 0 0;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
.confirm #sec06 .box .formTable td {
	font-weight:bold;
	width:100%;
}
.confirm #sec06 .box .formTable td:last-child {
	border-bottom:1px solid #CCC;
}
.confirm #sec06 .box .link2 {
	margin:20px auto;
	text-align:center;
	font-size:100%;
	line-height:1.2;
	font-weight:bold;
}
.confirm #sec06 .box .link2 a {
	line-height:1.2;
	font-weight:bold;
}
.confirm #sec06 div.btnCheck button {
	background: url(../img/btn04.gif) no-repeat 0 0;
	background-size: 247px 37px;
}

/* thanks */

.thanks #sec06 .box {
	margin:15px 10px;
}
.thanks #sec06 .box .txt {
	margin:50px auto 0;
	text-align:center;
	font-size:113%;
	line-height:1.4;
	font-weight:bold;
}
.thanks #sec06 .box .txt2 {
	margin:30px auto 0;
	text-align:center;
	font-size:113%;
	line-height:1.4;
	font-weight:bold;
}
.thanks #sec06 .box .errTxt {
	margin:18px auto 0;
	text-align:center;
}
.thanks #sec06 .box .error_messe {
	text-align:center;
	font-size:100%;
	line-height:1.4;
	color:#F00;
	font-weight:bold;
	padding:8px 0 0;
}
.thanks #sec06 .box .link {
	margin:30px auto 100px;
	text-align:center;
	font-size:100%;
	line-height:1.2;
}



/* --------------------
	footer
--------------------*/
footer {
	clear: both;
	width:100%;
	min-width:320px;
}
footer .inner {
	width: auto;
	height: auto;
	position:relative;
	margin:0 auto;
	text-align: center;
	padding:15px;
}
footer .inner p.logo {
	width:152px;
	height:45px;
	position: relative;
	top: auto;
	left: auto;
	font-size:0;
	margin:0 auto;
	padding:0 0 10px;
}
footer .inner .telBox {
	width:auto;
	min-width:130px;
	min-height:25px;
	position: relative;
	top: auto;
	background: url(../img/img31.gif) no-repeat 0 center;
	background-size: 31px auto;
	margin:5px auto 0;
	display:inline-block;
	text-align:left;
}
footer .inner .tokyo {
	left: auto;
}
footer .inner .osaka {
	left: auto;
}
footer .inner .telBox p.add {
	padding:3px 0 0 35px;
	font-size:88%;
	line-height:1.1;
}
footer .inner .telBox p.tel {
	padding:3px 0 0 35px;
	font-size:150%;
	line-height:1.1;
	font-weight:bold;
}
footer .inner .telBox p.tel a {
	text-decoration:none;
}
footer .inner .mailBox {
	width:auto;
	padding:0;
	min-width:150px;
	min-height:25px;
	position: relative;
	top: auto;
	left: auto;
	background: url(../img/img32.gif) no-repeat 3px center;
	background-size: 17px auto;
	margin:5px auto 0;
	display:inline-block;
	text-align:left;
}
footer .inner .mailBox a {
	display:block;
	padding:5px 0 0 25px;
	font-size:88%;
	line-height:1.1;
}
footer .inner .mailBox a:link {
	text-decoration:none;
}
footer .inner .mailBox a:hover {
	text-decoration: underline;
	color:#666;
}
footer .inner p.privacy {
	width:45px;
	height: auto;
	position: relative;
	top: auto;
	right: auto;
	font-size:0;
	margin:5px auto 0;
}
footer .footNav {
	background:#0066CC;
	padding:15px 0;
}
footer .footNav ul {
	margin:0 auto;
	display:block;
}
footer .footNav li {
	display:inline-block;
	color:#FFF;
	font-size:75%;
	line-height:1.1;
	padding:0 3px;
}
footer .footNav li a {
	color:#FFF;
	line-height:1.1;
	text-decoration:none;
}
footer .footNav li a:hover {
	color:#FFF;
	text-decoration: underline;
}
footer .footNav p.copy {
	color:#FFF;
	font-size:63%;
	line-height:1.1;
	display:block;
	padding:10px 0 0;
}

#button_close{position:absolute;top:2px;right:2px;z-index:30000}
#button_close img{max-width:30px;}
.treat{margin:0 auto;display:block;width:80%;}
.treat img{width:100%;}

/* コラム追加 */
.bredcrumbs { font-size: 12px; margin-bottom: 10px; padding: 0 3%; display: none; }
.bredcrumbs li { padding-right: 5px; }

.ico_new { padding: 3px 4px; }

.columns ul { padding: 0 3%; margin-bottom: auto; }
.columns ul li { width: 48.5%; margin-bottom: 3%; margin-right: auto; }
.columns ul li:nth-of-type(2n) { float: right; }
.columns ul li img { width: 100%;}

/* コラムページ */
#columns_page article h2 { font-size: 18px; background: none; height: auto; text-indent: 0; width: auto; margin: auto 10px 15px;}
#columns_page article p { font-size: 12px; margin-left: 10px; margin-right: 10px; }
#columns_page article p.pic img { width: 100%; }

.anker_point { margin-top: -50px; padding-top: 50px; }

#columns footer, #columns_page footer { border-top: 1px solid #00a0dc; }
