﻿@charset "utf-8";


@import "reset.css";
@import "common.css";



body {
	text-align: center;
	color: #333333;
}
div#wrap {
	margin: 0 auto;
	display:none;
}

/*  pagetop  */

#pagetopBtn {
	width:100px;
	height:105px;
	position:fixed;
	bottom:50px;
	right:50px;
	z-index:200;
	display:none;
}
#pagetopBtn img:hover {
	filter: alpha(opacity=70);
	-moz-opacity: 0.70;
	opacity: 0.70;
}


/* --------------------
	header
--------------------*/
header {
	background:#FFF;
	border-top:5px solid #00A1E9;
	width:100%;
	height:145px;
	min-width:1000px;
	position:fixed;
	top:0;
	left:0;
	box-shadow:0px 5px 5px 0px rgba(0,0,0,0.4);
	-moz-box-shadow:0px 5px 5px 0px rgba(0,0,0,0.4);
	-webkit-box-shadow:0px 5px 5px 0px rgba(0,0,0,0.4);
	z-index:1000;
}
header .inner {
	width:1000px;
	height:145px;
	margin:0 auto;
	position:relative;
}
header h1 {
	width:152px;
	height:45px;
	position: absolute;
	top:20px;
	left:0;
	font-size:0;
}
header h1 a:hover img {
	filter: alpha(opacity=80);
	-moz-opacity: 0.80;
	opacity: 0.80;
}
header p.icn01 {
	width:35px;
	height:45px;
	position: absolute;
	top:20px;
	left:172px;
	font-size:0;
}
header p.icn02 {
	width:45px;
	height:45px;
	position: absolute;
	top:20px;
	left:226px;
	font-size:0;
}
header p.entryBtn {
	width:340px;
	height:54px;
	position: absolute;
	top:20px;
	right:-4px;
	font-size:0;
}
header p.entryBtn a:hover img {
	filter: alpha(opacity=80);
	-moz-opacity: 0.80;
	opacity: 0.80;
}

/*  nav  */

header nav {
	width:1000px;
	height:32px;
	position: absolute;
	top:102px;
	left:0;
}
header nav p#navBtn {
	display:none;
}
header nav ul {
	height:32px;
	border-left:2px solid #BFBFBF;
}
header nav li {
	/*width:194px;*/
	height:32px;
	/*float:left;*/
	padding:0 2px;
	border-right:2px solid #BFBFBF;
}
header nav li.short {
	/*width:193px;*/
}
header nav li.etc {
	display:none;
}
header nav li a {
	display:block;
	text-align:center;
	height:32px;
	line-height:32px;
	vertical-align:middle;
	font-size:100%;
}
header nav li a:link {
	text-decoration:none;
}
header nav li a:hover {
	background:#EEE;
}


/* --------------------
	content
--------------------*/
#content {
	margin: 150px auto 0;
}
#content h2 {
	font-size:0;
}
#content h3 {
	font-size:150%;
	line-height:1.2;
	font-weight:bold;
	text-align:left;
	color:#005ead;
	background: url(../img/bg_tit.gif) no-repeat left bottom;
}

/*  sec01  */

#sec01 {
	width:100%;
	min-width:1000px;
	background: url(../img/bg_main.gif) no-repeat center top #00a0dc;
	padding:13px 0 35px;
}
#sec01 .mainImg {
	width:100%;
	min-width:1000px;
	height:490px;
	text-indent:-9999px;
	background: url(../img/img_main.png) no-repeat center top;
}
#sec01 .inner {
	width:1000px;
	margin:0 auto;
	padding:17px 0 0;
}
#sec01 li {
	width:320px;
	padding:0 0 0 20px;
	float:left;
}
#sec01 li:first-child {
	padding:0;
}
#sec01 li p.tit {
	width:320px;
	text-align:center;
	font-size:0;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	background:#005EAD;
}
#sec01 li dl {
	width:320px;
	padding:20px 0 12px;
	display:table;
}
#sec01 li dt,
#sec01 li dd {
	display:table-cell;
	text-align: left;
}
#sec01 li dt {
	width:150px;
	height:150px;
	font-size:0;
}
#sec01 li dd {
	width:115px;
	height:120px;
	padding:10px 20px 20px 35px;
	font-size:100%;
	line-height:1.3;
	vertical-align:middle;
	background: url(../img/bg01.gif) no-repeat 0 0;
}
#sec01 li p.txt {
	width:320px;
	text-align: left;
	padding:28px 0 0;
	font-size:100%;
	line-height:1.5;
	font-weight:bold;
	color:#FFF;
	background: url(../img/arrow01.gif) no-repeat center top;
}
#sec01 .btnBox {
	width:660px;
	height:297px;
	margin:0 auto;
	position:relative;
}
#sec01 .btnBox p.img {
	width:183px;
	height:217px;
	position: absolute;
	top:0;
	left:-45px;
	transition: .8s;
	z-index:30;
	font-size:0;
}
#sec01 .btnBox p.txt {
	width:518px;
	height:144px;
	position: absolute;
	top:23px;
	right:0;
	font-size:0;
}
#sec01 .btnBox p.btn {
	width:664px;
	height:84px;
	position: absolute;
	bottom:0;
	right:-4;
	z-index:40;
	font-size:0;
}
#sec01 .btnBox p.btn a:hover img {
	filter: alpha(opacity=80);
	-moz-opacity: 0.80;
	opacity: 0.80;
}

/*  sec02  */

#sec02 {
	width:100%;
	min-width:1000px;
	background:#C7E4F5;
}
#sec02 .inner {
	width:1000px;
	margin:0 auto;
	padding:16px 0 0;
}
#sec02 h3 {
	padding:22px 0 10px;
}
#sec02 .commentBox {
	width:574px;
	min-height:232px;
	text-align:left;
	background: url(../img/bg07.jpg) no-repeat left top;
	padding:28px 0 32px 426px;
}
#sec02 .commentBox .txtBox {
	width:574px;
	min-height:232px;
	position:relative;
	background:#FFF;
	box-shadow:4px 4px 0px 0px #00a0dc;
	-moz-box-shadow:4px 4px 0px 0px #00a0dc;
	-webkit-box-shadow:4px 4px 0px 0px #00a0dc;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}
#sec02 .commentBox .txtBox p.txt {
	width:529px;
	padding:20px 20px 20px 25px;
	font-size:100%;
	line-height:1.5;
}
#sec02 .commentBox .txtBox p.arrow {
	width:30px;
	height:60px;
	position:absolute;
	top:85px;
	left:-30px;
	font-size:0;
}

/*  sec02_2  */

#sec02_2 {
	width:100%;
	min-width:1000px;
}
#sec02_2 .inner {
	width:1000px;
	margin:0 auto;
}
#sec02_2 h3 {
	padding:40px 0 10px;
}
#sec02_2 ul {
	padding:18px 0 34px;
}
#sec02_2 li {
	width:490px;
	margin:0 auto 0 20px;
	float:left;
	background:#C7E4F5;
}
#sec02_2 li:first-child {
	margin:0 auto;
}
#sec02_2 li h4 {
	width:490px;
	height:36px;
	text-align:center;
	font-size:113%;
	line-height:36px;
	color:#FFF;
	font-weight:bold;
	vertical-align:middle;
	background:#005EAD;
}
#sec02_2 li dl {
	width:406px;
	padding:20px 42px 0 43px;
	display:table;
}
#sec02_2 li dt,
#sec02_2 li dd {
	display:table-cell;
	text-align: left;
}
#sec02_2 li dt {
	width:127px;
	height:118px;
	padding:13px 83px 19px 45px;
	font-size:118%;
	line-height:1.4;
	font-weight:bold;
	vertical-align:middle;
	background: url(../img/bg02.gif) no-repeat 0 3px;
}
#sec02_2 li:first-child dt {
	width:157px;
	padding:13px 68px 19px 30px;
}
#sec02_2 li dd {
	width:150px;
	height:150px;
	font-size:0;
}
#sec02_2 li p.txt {
	width:406px;
	text-align: left;
	padding:15px 42px 20px 43px;
	font-size:100%;
	line-height:1.7;
}

/*  sec02_3  */

#sec02_3 {
	width:100%;
	min-width:1000px;
	background:#C7E4F5;
}
#sec02_3 .inner {
	width:1000px;
	margin:0 auto;
	padding:0 0 30px;
}
#sec02_3 h3 {
	padding:25px 0 10px;
}
#sec02_3 .tab {
	padding:13px 0 0;
}
#sec02_3 .tab li {
	width:500px;
	height:80px;
	line-height:80px;
	vertical-align: middle;
	text-align:center;
	float:left;
	font-size:150%;
	background:#005EAD;
	color:#FFF;
	font-weight:bold;
	border-radius:10px 10px 0px 0px;
	-moz-border-radius:10px 10px 0px 0px;
	-webkit-border-radius:10px 10px 0px 0px;
	cursor: pointer;
}
#sec02_3 .tab li span.icn {
	width:31px;
	height:24px;
	background: url(../img/icn_tab02.gif) no-repeat right 0;
	display:inline-block;
	text-indent:-9999px;
}
#sec02_3 .tab li:hover {
	filter: alpha(opacity=80);
	-moz-opacity: 0.80;
	opacity: 0.80;
}
#sec02_3 .tab li.select {
	background:#FFF;
	color:#005EAD;
	cursor:default;
}
#sec02_3 .tab li.select span.icn {
	background: url(../img/icn_tab01.gif) no-repeat right 0;
}
#sec02_3 .tab li.select:hover {
	filter: alpha(opacity=100);
	-moz-opacity: 1.0;
	opacity: 1.00;
}
#sec02_3 .contentBox {
	width:900px;
	padding:0 50px;
	border-radius:0px 0px 10px 10px ;
	-moz-border-radius:0px 0px 10px 10px ;
	-webkit-border-radius:0px 0px 10px 10px ;
	background:#FFF;
}
#sec02_3 .contentBox li {
	border-top:1px dashed #005EAD;
	padding:20px 0 20px 15px;
}
#sec02_3 .contentBox li:first-child {
	border-top: none;
}
#sec02_3 .contentBox li p.num {
	width:50px;
	height:50px;
	line-height:50px;
	vertical-align: middle;
	text-align:center;
	font-weight:bold;
	color:#FF0;
	font-size:150%;
	float:left;
	box-shadow:2px 2px 0px 0px #00a0dc;
	-moz-box-shadow:2px 2px 0px 0px #00a0dc;
	-webkit-box-shadow:2px 2px 0px 0px #00a0dc;
	border-radius:25px;
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
	background:#005EAD;
}
#sec02_3 .contentBox li .txtBox {
	width:805px;
	float: right;
	text-align:left;
}
#sec02_3 .contentBox li .txtBox h4 {
	font-size:150%;
	line-height:1.2;
	font-weight:bold;
	color:#005EAD;
}
#sec02_3 .contentBox li .txtBox p.txt {
	font-size:113%;
	line-height:1.6;
}
#sec02_3 .contentBox li .txtBox li {
	border-top: none;
	padding:5px 1em 0 0;
	font-size:113%;
	line-height:1.6;
	font-weight:bold;
	float:left;
}
#sec02_3 .contentBox li .txtBox li:first-letter {
	color:#005EAD;
}

/*  sec02_4  */

#sec02_4 {
	width:100%;
	min-width:1000px;
}
#sec02_4 .inner {
	width:1000px;
	margin:0 auto;
	padding:0 0 40px;
}
#sec02_4 h3 {
	padding:40px 0 10px;
}
#sec02_4 p.txt {
	font-size:113%;
	line-height:1.6;
	padding:20px 0 30px;
	text-align:left;
}
#sec02_4 ul {
	margin:0 auto;
	padding:0 75px;
}
#sec02_4 li {
	width:405px;
	float:left;
	padding:0 10px;
}
#sec02_4 li h4 {
	font-size:113%;
	line-height:1.6;
	font-weight:bold;
	color:#005EAD;
	padding:0 0 15px;
	text-align:center;
}
#sec02_4 li p.img {
	font-size:0;
}
#sec02_4 li p.cap {
	font-size:100%;
	line-height:1.3;
	padding:10px 0 0;
	text-align: left;
}

/*  sec02_5  */

#sec02_5 {
	width:100%;
	min-width:1000px;
	background:#00A0DC;
}
#sec02_5 .inner {
	width:1000px;
	margin:0 auto;
	padding:0 0 40px;
}
#sec02_5 p.txt01 {
	font-size:0;
}
#sec02_5 p.txt02 {
	font-size:0;
	padding:25px 0 0;
}
#sec02_5 p.txt03 {
	font-size:0;
	padding:30px 0 0;
}
#sec02_5 p.btn {
	font-size:0;
	padding:38px 0 0;
}
#sec02_5 p.btn a:hover img {
	filter: alpha(opacity=80);
	-moz-opacity: 0.80;
	opacity: 0.80;
}

/*  sec03  */

#sec03 {
	width:100%;
	min-width:1000px;
}
#sec03 .inner {
	width:1000px;
	margin:0 auto;
	padding:0 0 37px;
}
#sec03 h2 {
	padding:40px 0 0;
}
#sec03 h3 {
	padding:25px 0 10px;
	margin:0 auto 20px;
}
#sec03 #animeBox {
	width:1000px;
	height:599px;
	background: url(../img/img11.gif) no-repeat 0 0;
	position:relative;
}
#sec03 #animeBox p.human {
	width:104px;
	height:148px;
	font-size:0;
	position: absolute;
	top:-25px;
	left:799px;
/*	animation:jump 6s ease 0s 1;
	-webkit-animation:jump 6s ease 0s 1;*/
	transition: .8s;
}
@keyframes jump{
	0%		{transform: translate(-724px,352px);}
	18%		{transform: translate(-553px,193px)	rotate(-10deg);	transition-timing-function: ease-out;}
	34%		{transform: translate(-469px,251px)	rotate(5deg);	transition-timing-function: ease-in;}
	51%		{transform: translate(-303px,62px)	rotate(-15deg);	transition-timing-function: ease-out;}
	67%		{transform: translate(-218px,121px)	rotate(5deg);	transition-timing-function: ease-in;}
	84%		{transform: translate(-85px,-59px)	rotate(-20deg);	transition-timing-function: ease-out;}
	100%	{transform: translate(0,0)			rotate(0deg);	transition-timing-function: ease-in;}
}
/*@-webkit-keyframes jump{
	0%		{-webkit-transform: translate(-724px,352px);}
	17%		{-webkit-transform: translate(-573px,213px);}
	34%		{-webkit-transform: translate(-469px,251px);}
	51%		{-webkit-transform: translate(-323px,82px);}
	68%		{-webkit-transform: translate(-218px,121px);}
	85%		{-webkit-transform: translate(-105px,-39px);}
	100%	{-webkit-transform: translate(0,0);}
}*/

/*  sec04  */

#sec04 {
	width:100%;
	min-width:1000px;
	background:#C7E4F5;
}
#sec04 .inner {
	width:1000px;
	margin:0 auto;
	padding:0 0 10px;
	text-align:left;
}
#sec04 h2 {
	padding:27px 0 0;
}
#sec04 h3 {
	padding:25px 0 10px;
	margin:0 auto 20px;
}
#sec04 .box {
	width:995px;
	margin:0 auto 30px;
	background:#FFF;
	border-right:4px solid #00A0E9;
}
#sec04 .box:before,
#sec04 .box:after {
	width:999px;
	height:26px;
	font-size:0;
	content: "";
	display: block;
}
#sec04 .box:before {
	background: url(../img/bg03.gif) no-repeat 0 0;
}
#sec04 .box:after {
	background: url(../img/bg04.gif) no-repeat 0 0;
    clear: both; 
}
#sec04 .box p.img01 {
	width:300px;
	float:left;
	font-size:0;
	padding:5px 0 5px 20px;
}
#sec04 .box p.img02 {
	width:300px;
	float: right;
	font-size:0;
	padding:5px 20px 5px 0;
}
#sec04 .box .txtBox01 {
	width:625px;
	float:right;
	padding:5px 30px 5px 0;
}
#sec04 .box .txtBox02 {
	width:625px;
	float: left;
	padding:5px 0 5px 30px;
}
#sec04 .box h4 {
	border-bottom:2px solid #005EAD;
	font-weight:bold;
	color:#005EAD;
	font-size:88%;
	line-height:1.2;
	padding:0 0 8px;
}
#sec04 .box h4 strong {
	font-weight:bold;
	font-size:115%;
	line-height:1.2;
	padding:0 0 0 1em;
}
#sec04 .box h4 span.last {
	font-weight: normal;
	line-height:1.2;
	padding:0 0 0 1em;
}
#sec04 .box p.txt {
	font-size:100%;
	line-height:1.5;
	padding:15px 0 0;
}

/*  sec04_2  */

#sec04_2 {
	width:100%;
	min-width:1000px;
	background:#00A0E9;
}
#sec04_2 .inner {
	width:1000px;
	margin:0 auto;
	padding:0 0 45px;
}
#sec04_2 p.txt {
	font-size:0;
}
#sec04_2 p.btn {
	font-size:0;
	padding:40px 0 0;
}
#sec04_2 p.btn a:hover img {
	filter: alpha(opacity=80);
	-moz-opacity: 0.80;
	opacity: 0.80;
}

/*  sec05  */

#sec05 {
	width:100%;
	min-width:1000px;
}
#sec05 .inner {
	width:1000px;
	margin:0 auto;
	padding:0 0 12px;
	text-align:left;
}
#sec05 h2 {
	padding:24px 0 0;
}
#sec05 h3 {
	padding:20px 0 10px;
	margin:0 auto 20px;
}
#sec05 li {
	width:320px;
	float:left;
	padding:0 20px 20px 0;
}
#sec05 li.right {
	padding:0 0 20px;
}
#sec05 li p.img {
	font-size:0;
}
#sec05 li p.img a:hover img {
	filter: alpha(opacity=80);
	-moz-opacity: 0.80;
	opacity: 0.80;
}
#sec05 li p.cap {
	background:#C7E4F5;
	font-size:88%;
	height:40px;
	width:320px;
	text-align:center;
	line-height:40px;
	vertical-align:middle;
}
#sec05 li p.cap2 {
	background:#C7E4F5;
	font-size:88%;
	height:40px;
	width:310px;
	padding:0 10px;
	vertical-align:middle;
	text-align: left;
	line-height:1.2;
	display:table-cell;
}

/*  sec05_2  */

#sec05_2 {
	width:100%;
	min-width:1000px;
	background:#C7E4F5;
}
#sec05_2 .inner {
	width:1000px;
	margin:0 auto;
	padding:0 0 40px;
	text-align:left;
}
#sec05_2 h3 {
	padding:30px 0 10px;
	margin:0 auto 20px;
}
#sec05_2 .box {
	width:995px;
	background:#FFF;
	border-right:4px solid #00A0E9;
	transition: .8s;
}
#sec05_2 .box:before,
#sec05_2 .box:after {
	font-size:0;
	content: "";
	display: block;
}
#sec05_2 .box:before {
	background: url(../img/img30.jpg) no-repeat 0 0;
	width:999px;
	height:340px;
}
#sec05_2 .box:after {
	background: url(../img/bg04.gif) no-repeat 0 0;
	width:999px;
	height:26px;
}
#sec05_2 .box p.txt {
	font-size:100%;
	line-height:1.9;
	padding:15px 80px 10px 85px;
}
#sec05_2 .box ul {
	padding:0 80px 0 85px;
}
#sec05_2 .box li {
	font-size:100%;
	line-height:1.4;
	font-weight:bold;
	padding:5px 0.5em 0 1.5em;
	text-indent:-1em;
}

/*  sec06  */

#sec06 {
	width:100%;
	min-width:1000px;
	background:#00A0DC;
}
#sec06 .inner {
	width:1000px;
	margin:0 auto;
	padding:0 0 28px;
}
#sec06 h2 {
	padding:24px 0 0;
}
#sec06 p.lead {
	font-size:100%;
	line-height:1.2;
	color:#FFF;
	padding:35px 0 20px;
}
#sec06 span.req {
	font-size:75%;
	line-height:18px;
	height:18px;
	vertical-align:middle;
	color:#FFF;
	padding:0 4px;
	margin:0 5px;
	background:#F39800;
	font-weight:bold;
}
#sec06 .box {
	width:995px;
	background:#FFF;
	border-right:4px solid #FFF100;
	text-align:left;
}
#sec06 .box:before,
#sec06 .box:after {
	width:999px;
	height:26px;
	font-size:0;
	content: "";
	display: block;
}
#sec06 .box:before {
	background: url(../img/bg05.gif) no-repeat 0 0;
}
#sec06 .box:after {
	background: url(../img/bg06.gif) no-repeat 0 0;
}
#sec06 .box ul {
	padding:0 80px 0 85px;
}
#sec06 .box li {
	padding:19px 0;
	border-bottom:1px solid #BFBFBF;
}
#sec06 .box li dl {
	display:table;
	width:830px;
}
#sec06 .box li dt,
#sec06 .box li dd {
	display: table-cell;
	font-size:100%;
	line-height:1.2;
	font-weight:bold;
}
#sec06 .box li dt {
	width:250px;
	vertical-align:middle;
}
#sec06 .box li dt.pr {
	vertical-align: top;
}
#sec06 .box li dd {
	width:560px;
}
#sec06 .box li dd input#man,
#sec06 .box li dd input#woman {
	vertical-align:middle;
}
#sec06 .box li dd label {
	font-weight:bold;
}
#sec06 .box li dd p.zip {
	padding:0 0 15px;
	font-weight:bold;
}
#sec06 .box li dd p.zip .min {
	width:5em;
	margin:0 10px;
}   
#sec06 .box li dd textarea {
	height:120px;
}
#sec06 .box .privacyBox {
	padding:20px 80px 10px 85px;
}
#sec06 .box .privacyBox p.tit {
	padding:0 0 10px;
	font-size:100%;
	line-height:1.2;
	font-weight:bold;
	text-align:left;
}
#sec06 .box .privacyBox textarea {
	height:220px;
	padding:20px !important;
	font-size:88%;
	line-height:1.3;
	text-align: left;
	color:#666;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}
#sec06 .box .privacyBox .check {
	padding:20px 0 0;
	font-size:113%;
	line-height:1.2;
	text-align: center;
	color:#000;
}
#sec06 .box .privacyBox .check input {
	vertical-align: middle;
}
#sec06 div.btnCheck {
	padding:30px 0 0;
	margin:0 auto;
}
#sec06 div.btnCheck button {
	width:494px;
	height:74px;
	display:block;
	background: url(../img/btn03.gif) no-repeat 0 0;
	margin:0 auto;
	text-indent: 150%;
    white-space: nowrap;
    overflow: hidden;
	cursor:pointer;
	border:0;
}
#sec06 div.btnCheck button:hover {
	filter: alpha(opacity=80);
	-moz-opacity: 0.80;
	opacity: 0.80;
}

/* form */

fieldset {   
border:1px solid #BFBFBF;   
margin-bottom:1em;   
padding:0 1em 1em 1em;   
}   
  
legend {   
background:#fff;   
padding:0.3em;   
}   
  
input, textarea {
	box-sizing:border-box;
	width:100%;
	font-size:100%;
	line-height:1.1;
	vertical-align:middle;
	padding:10px !important;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border:0;
	border:1px solid #BFBFBF;   
}
.mid {
	width:50%;
}  
.min {
	width:20%;
}   
  
input[type="checkbox"],   
input[type="radio"] {   
	width: auto;
	vertical-align: middle;
	margin-left:5px;
}

input[type="submit"] {   
	padding:0.1em;   
}   

input[type="text"] {   
	padding:10px;
}   
  
label {
	cursor:pointer;
	padding:0 0 0 0.3em;
}

select {   
	padding:10px;   
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border:0;
	border:1px solid #BFBFBF;
	font-size:88%;
}   
  
    /* for IE6 */  
    * html input {   
    padding:0.1em;   
    }   
  
    * html input.checkbox,   
    * html input.radio {   
    vertical-align:-0.3em;   
    }   
  
    * html input.submit {   
    line-height:1.2;   
    padding-top:0.2em;   
    }   
  
    * html select {   
    vertical-align:-0.2em;   
    }   
  
    /* for IE7 */  
    *+html input {   
    padding:0.1em;   
    }   
  
    *+html input.submit {   
    line-height:1.2;   
    padding-top:0.2em;   
    }   
  
    *+html select {   
    vertical-align:-0.2em;   
    }   
  
    /* for Opera9.27 */  
    html:first-child input {   
    padding:0.1em;   
    }   
  
    html:first-child input[type="checkbox"],   
    html:first-child input[type="radio"] {   
    vertical-align:middle;   
    }   
  
    html:first-child input[type="submit"] {   
    padding:0.3em;   
    }   
  
    html:first-child select {   
    padding:0.2em;   
    }   
  
    /* for Opera9.5 [Safari3] */  
    body:first-of-type input {   
    padding:0.1em;   
    }   
  
    body:first-of-type input[type="checkbox"],   
    body:first-of-type input[type="radio"] {   
    vertical-align:-0.3em;   
    }   
  
    body:first-of-type input[type="submit"] {   
    padding:0.3em 0.3em 0.2em 0.3em;   
    }   
  
    /* for Safari3 */  
    html:not(:only-child:only-child) input {   
    padding:0;   
    vertical-align:baseline;   
    }   
  
    html:not(:only-child:only-child) input[type="checkbox"],   
    html:not(:only-child:only-child) input[type="radio"] {   
    vertical-align:baseline;   
    }   
  
    html:not(:only-child:only-child) select {   
    vertical-align:0.1em;   
    }   



/* confirm */

.confirm #sec06 .box .txt {
	margin:100px auto 0;
	text-align:center;
	font-size:113%;
	line-height:1.6;
	font-weight:bold;
}
.confirm #sec06 .box .errTxt {
	margin:35px auto 0;
	text-align:center;
}
.confirm #sec06 .box .error_messe {
	text-align:center;
	font-size:100%;
	line-height:1.4;
	color:#F00;
	font-weight:bold;
	padding:15px 0 0;
}
.confirm #sec06 .box .link {
	margin:60px auto 100px;
	text-align:center;
	font-size:100%;
	line-height:1.2;
}
.confirm #sec06 .box .formTable {
	margin:30px auto;
	width:800px;
	border-top:1px solid #CCC;
}
.confirm #sec06 .box .formTable th,
.confirm #sec06 .box .formTable td {
	text-align: left;
	vertical-align:middle;
	padding:15px;
	font-size:100%;
	line-height:1.4;
	border-bottom:1px solid #CCC;
}
.confirm #sec06 .box .formTable th {
	font-weight:bold;
	background:#E5EFFA;
	width:35%;
}
.confirm #sec06 .box .link2 {
	margin:40px auto;
	text-align:center;
	font-size:113%;
	line-height:1.2;
	font-weight:bold;
}
.confirm #sec06 .box .link2 a {
	line-height:1.2;
	font-weight:bold;
}
.confirm #sec06 div.btnCheck button {
	background: url(../img/btn04.gif) no-repeat 0 0;
}

/* thanks */

.thanks #sec06 .box {
	margin:30px auto;
}
.thanks #sec06 .box .txt {
	margin:100px auto 0;
	text-align:center;
	font-size:113%;
	line-height:1.6;
	font-weight:bold;
}
.thanks #sec06 .box .txt2 {
	margin:60px auto 0;
	text-align:center;
	font-size:113%;
	line-height:1.6;
	font-weight:bold;
}
.thanks #sec06 .box .errTxt {
	margin:35px auto 0;
	text-align:center;
}
.thanks #sec06 .box .error_messe {
	text-align:center;
	font-size:100%;
	line-height:1.4;
	color:#F00;
	font-weight:bold;
	padding:15px 0 0;
}
.thanks #sec06 .box .link {
	margin:60px auto 200px;
	text-align:center;
	font-size:100%;
	line-height:1.2;
}



/* --------------------
	footer
--------------------*/
footer {
	clear: both;
	width:100%;
	min-width:1000px;
}
footer .inner {
	width:1000px;
	height:163px;
	position:relative;
	margin:0 auto;
	text-align:left;
}
footer .inner p.logo {
	width:152px;
	height:45px;
	position: absolute;
	top:55px;
	left:71px;
	font-size:0;
}
footer .inner .telBox {
	min-width:260px;
	min-height:50px;
	position: absolute;
	top:28px;
	background: url(../img/img31.gif) no-repeat 0 6px;
}
footer .inner .tokyo {
	left:278px;
}
footer .inner .osaka {
	left:542px;
}
footer .inner .telBox p.add {
	padding:5px 0 0 50px;
	font-size:88%;
	line-height:1.1;
}
footer .inner .telBox p.tel {
	padding:5px 0 0 50px;
	font-size:150%;
	line-height:1.1;
	font-weight:bold;
}
footer .inner .mailBox {
	padding:3px 0 0;
	min-width:300px;
	min-height:50px;
	position: absolute;
	top:105px;
	left:278px;
	background: url(../img/img32.gif) no-repeat 5px 0;
}
footer .inner .mailBox a {
	display:block;
	padding:0 0 0 50px;
	font-size:113%;
	line-height:1.1;
}
footer .inner .mailBox a:link {
	text-decoration:none;
}
footer .inner .mailBox a:hover {
	text-decoration: underline;
	color:#666;
}
footer .inner p.privacy {
	width:90px;
	height:91px;
	position: absolute;
	top:34px;
	right:45px;
	font-size:0;
}
footer .inner p.privacy a:hover img {
	filter: alpha(opacity=80);
	-moz-opacity: 0.80;
	opacity: 0.80;
}
footer .footNav {
	background:#0066CC;
	padding:20px 0;
}
footer .footNav ul {
	margin:0 auto;
	display:inline-block;
}
footer .footNav li {
	display:inline-block;
	color:#FFF;
	font-size:88%;
	line-height:1.1;
	padding:0 15px;
}
footer .footNav li a {
	color:#FFF;
	line-height:1.1;
	text-decoration:none;
}
footer .footNav li a:hover {
	color:#FFF;
	text-decoration: underline;
}
footer .footNav p.copy {
	color:#FFF;
	font-size:88%;
	line-height:1.1;
	display:inline-block;
	padding:0 0 0 50px;
}

#button_close{position:absolute;top:-20px;right:-20px;z-index:30000}

/* コラム追加 */
/* g-nav */
header nav ul { display: table; width: 100%; }
header nav li { display: table-cell; }

.column a { font-weight: bold; }
.ico_new { color: #fff; background-color: #f60; font-size: 14px; border-radius: 2px; padding: 0 4px; margin-left: 5px; font-weight: bold; }

#columns #sec02 { padding-bottom: 20px; }

.bredcrumbs { display: table; font-size: 14px; margin-bottom: 20px; }
.bredcrumbs li { display: table-cell; padding-right: 10px; }

.columns ul { }
.columns ul li { float: left; margin-right: 16px; margin-bottom: 15px; }
.columns ul li:nth-of-type(4n+4) { margin-right: auto; }
.columns ul li img { width: 238px; }

/* コラムページ */
#columns_page #sec02 { background-color: #fff; padding-bottom: 30px; }
#columns_page article h2 { font-size: 36px; color: #005ead; border-bottom: 2px solid #005ead; font-weight: bold; text-align: left; padding: 10px 0; margin-bottom: 15px; }
#columns_page article h3 { margin-bottom: 15px; }
#columns_page article p { text-align: left; line-height: 1.5; margin-bottom: 15px; }
#columns_page article p.pic { text-align: center; margin-bottom: 15px; }
#columns_page article p.pic img { width: 480px; }

.column_link { color: #00a1e9; }
.bold { font-weight: bold; }

.anker_point { margin-top: -150px; padding-top: 150px; }

#columns footer, #columns_page footer { border-top: 2px solid #06c; }
