﻿@charset "utf-8";


body,h1,h2,h3,h4,h5,h6,td,th,p,div,input,textarea,pre,ul,ol {
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}
hr {display: none;clear: both;}
* {line-height: 1.1;}


/* --------------------
		clear
-------------------- */
.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
.clearfix { display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hides from IE-mac */

.clear{
	clear:both;
	font-size:0;
	line-height:0;
	padding:0;
	margin:0;
}

.clearB {clear: both;}


/* --------------------
		float settings
-------------------- */
.floatR {float: right;}
.floatL {float: left;}


/* --------------------
		link settings
-------------------- */
a			{color: #333;text-decoration: underline;}
/*a:link	{color: #333;text-decoration: underline;}*/
/*a:visited	{color: #333;text-decoration: underline;}*/
/*a:hover	{color: #333;text-decoration: none;}*/
/*a:active	{color: #333;text-decoration: none;}*/


/* --------------------
		margin settings
-------------------- */
.mrgB5	{margin-bottom: 5px;}
.mrgB10	{margin-bottom: 10px;}
.mrgB15	{margin-bottom: 15px;}
.mrgB20	{margin-bottom: 20px;}
.mrgB25	{margin-bottom: 25px;}
.mrgB30	{margin-bottom: 30px;}
.mrgB35	{margin-bottom: 35px;}
.mrgB40	{margin-bottom: 40px;}
.mrgB45	{margin-bottom: 45px;}
.mrgB50	{margin-bottom: 50px;}
.mrgB55	{margin-bottom: 55px;}
.mrgB60	{margin-bottom: 60px;}
.mrgB65	{margin-bottom: 65px;}
.mrgB70	{margin-bottom: 70px;}
.mrgB75	{margin-bottom: 75px;}
.mrgB80	{margin-bottom: 80px;}


/* --------------------
		padding settings
-------------------- */
.padB5	{padding-bottom: 5px;}
.padB10	{padding-bottom: 10px;}
.padB15	{padding-bottom: 15px;}
.padB20	{padding-bottom: 20px;}
.padB25	{padding-bottom: 25px;}
.padB30	{padding-bottom: 20px;}
.padB35	{padding-bottom: 35px;}
.padB40	{padding-bottom: 40px;}
.padB45	{padding-bottom: 45px;}
.padB50	{padding-bottom: 50px;}
.padB55	{padding-bottom: 55px;}
.padB60	{padding-bottom: 60px;}
.padB65	{padding-bottom: 65px;}
.padB70	{padding-bottom: 70px;}
.padB75	{padding-bottom: 75px;}
.padB80	{padding-bottom: 80px;}






